# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
coverage/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Env / virtualenv
.envrc
.venv/
env/
venv/
ENV/
venv-calendar-work-sync

# dotenv
.env

# pyenv
.python-version

# pipenv
Pipfile.lock

# mypy
.mypy_cache/

# ruff
.ruff_cache
